.container{
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100vh;
    width: 100vw;
}

nz-upload{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

a{
    color: #333;

    &:hover{
        color: #1890ff;
    }
}