<div class="container">
  <div class="header">
    <div>
      <h1>Métrica: Lines Of Code (LOC)</h1>

      <p>
        La métrica de software Lines Of Code cuenta el número de líneas de
        código fuente de un programa. <br />Así se determina el tamaño de un
        programa. Esta métrica se puede utilizar para estimar la carga de
        trabajo para el desarrollo del programa, <br />la productividad de la
        programación y el mantenimiento del software publicado.
      </p>
    </div>

    <div>
      <a target="_blank" href="https://github.com/CarlosPaterninaDev/loc-app">
        <span
          style="font-size: 36px"
          nz-icon
          nzType="github"
          nzTheme="outline"
        ></span>
      </a>
    </div>
  </div>

  <nz-divider nzText="Information"></nz-divider>

  <div class="header">
    <p>
      Los valores aceptables para Líneas de Código (LOC) pueden variar
      dependiendo del contexto del proyecto, la metodología de desarrollo
      utilizada y los estándares de la industria. <br />Sin embargo, existen
      algunas directrices generales para evaluar los LOC en diferentes niveles
      del software:
    </p>

    <ul>
      <li>
        Clases: Una clase con menos de 200 LOC suele ser considerada manejable.
        Las clases con más de 500 LOC pueden indicar la necesidad de
        refactorización para mejorar la cohesión y reducir la complejidad.
      </li>
      <li>
        Métodos/Funciones: Un método con menos de 50 LOC es generalmente
        deseable. Métodos que exceden las 100 LOC pueden ser difíciles de
        mantener y probar, sugiriendo que deberían dividirse en métodos más
        pequeños y específicos.
      </li>

      <li>
        Módlios: Un módlio (o archivo de código) con menos de 1000 LOC es
        generalmente considerado manejable. Módlios que superan las 2000 LOC
        pueden ser problemáticos y difíciles de mantener.
        <br />
      </li>

      <li>
        Proyectos: Para proyectos pequeños, menos de 10,000 LOC es típico.
        Proyectos medianos pueden tener entre 10,000 y 100,000 LOC, mientras que
        grandes proyectos empresariales pueden superar los 100,000 LOC.
      </li>
    </ul>
  </div>

  <nz-divider nzText="Getting started"></nz-divider>

  <div class="header">
    <nz-steps [nzCurrent]="current" nzDirection="vertical">
      @for (item of steps; track $index) {
      <nz-step
        (click)="selected()"
        nzTitle="{{ item.title }}"
        nzDescription="{{ item.description }}"
      ></nz-step>

      }
    </nz-steps>

    <div>
      <table>
        <h1>Metrics</h1>
        <tr>
          
          <th
            nz-tooltip
            nzTooltipTitle="El número total de líneas en el archivo, incluyendo comentarios y líneas en blanco."
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Physical
          </th>
          <td>{{ this.table.physical }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que contienen código fuente real, es decir, excluyendo comentarios y líneas en blanco"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Source
          </th>
          <td>{{ this.table.source }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número total de líneas que contienen comentarios."
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Comment
          </th>
          <td>{{ this.table.comment }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que contienen comentarios de una sola línea"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Single-line comment
          </th>
          <td>{{ this.table.single }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que contienen comentarios de bloque"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Block comment
          </th>
          <td>{{ this.table.block }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que contienen tanto código fuente duplicado"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Mixed
          </th>
          <td>{{ this.table.mixed }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que están vacías o contienen solo espacios en blanco"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Empty
          </th>
          <td>{{ this.table.empty }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas dentro de los comentarios de bloque que están vacías o contienen solo espacios en blanco"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Block Empty
          </th>
          <td>{{ this.table.blockEmpty }}</td>
        </tr>
        <tr>
          <th
            nz-tooltip
            nzTooltipTitle="El número de líneas que contienen comentarios de TODO"
          >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            To Do
          </th>
          <td>{{ this.table.todo }}</td>
        </tr>
        <tr>
          <th nz-tooltip nzTooltipTitle="El número de archivos leídos">
            <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Number of files read
          </th>
          <td>{{ this.listOfData.length }}</td>
        </tr>
      </table>
      `
    </div>
  </div>

  <div class="box">
    <nz-upload
      class="avatar-uploader"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      nzName="avatar"
      nzListType="picture-card"
      [nzShowUploadList]="false"
      [nzBeforeUpload]="beforeUpload"
      (nzChange)="handleChange($event)"
    >
      <ng-container>
        <span class="upload-icon" nz-icon></span>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
    </nz-upload>
  </div>

  <nz-table
    #sortTable
    [nzData]="listOfData"
    nzTableLayout="fixed"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumn"
          [nzSortFn]="column.compare"
          [nzSortPriority]="column.priority"
        >
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.path }}</td>
        <td>{{ data.stats.total }}</td>
        <td>{{ data.stats.source }}</td>
        <td>{{ data.stats.comment }}</td>
        <td>{{ data.stats.single }}</td>
        <td>{{ data.stats.block }}</td>
        <td>{{ data.stats.mixed }}</td>
        <td>{{ data.stats.empty }}</td>
        <td>{{ data.stats.todo }}</td>
        <td>{{ data.stats.blockEmpty }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
